body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f5f5f5;
    background-color: #1f1f1f;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1, h2, h3 {
    color: #f5f5f5;
    border-bottom: 2px solid #3f3f3f;
    padding-bottom: 10px;
}

section {
    margin-bottom: 20px;
    background-color: #2f2f2f;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

p {
    line-height: 1.6;
}

.feature {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.feature img {
    width: 200px;
    margin-right: 20px;
    border-radius: 5px;
}

#contact ul {
    list-style-type: none;
    padding: 0;
}

#contact li {
    margin-bottom: 10px;
    color: #b5b5b5;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #f5f5f5;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d26d7c;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #d26d7c;
   
}

.game-btn {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #d26d7c;
    ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.game-btn:hover {
    background-color: #d26d7c;

}
